/*

My name is Muto
Um, I like computers.
To write programs, mainly.
On my computer, that is.
...
Content is good on this site
And the non-content is good too.
/:
Camping is something I like.
And I DON't like:
Really.
Really.
Old.
Tacos.

*/
body {
	font: 1.2em/1.4em sans-serif;
	background:  #FFEEBB;
	max-width: 50em;
	margin: 1em auto
}
hr	{border: 2px solid #000}
a	{color: #008833; text-decoration: none}
a:hover {text-decoration: underline}
pre {
	background: #000022;
	color: #FEEEBB;
	overflow: auto;
	padding: 0.3em
}
.syntax-special, .syntax-open, .syntax-close {
	font-weight: bold;
	color: #90EE90
}
.syntax-comment {color: #FFA07A}
.syntax-keyword, .syntax-symbol {color: #FFFF55}
.syntax-attribute, .syntax-element, syntax-string {color: #E0FFFF}

/* It's weird how, in some places, they read from top to bottom,
   instead of left to right. I wonder if it's any easier. */
