/* "Space" Theme
 * This CSS theme is made solely around the inspiration that is
 * www.heavensgate.com
 */ 

body {
    font: 1.4em/1.4em monospace;
    color: cyan;
    padding: 2em 0.2em;
    background: url("starsd.jpg") black;
    max-width: 1500px;
    text-align: left;
}

hr {border: none;
    border-bottom: 3px dotted magenta;
   }

nav, footer {
    padding: 0.1em 1em;
    display: inline-block;
    border-right: 3px dotted yellow;
    border-left: 3px dotted yellow;
    border-radius: 20px;
}
a {
    text-decoration: none;
    color: Lime;
}
a:hover  {
    text-decoration: none; /*For unsupported browsers*/
    text-decoration: yellow wavy line-through; /*Ideal*/
}
pre {
    border: 7px double white;
    border-radius: 10px;
    color: lime;
    overflow: auto;
    padding: 0.3em;
}
.syntax-open, .syntax-close, .syntax-special {
    font-weight: bold;
    color: yellow;
}
.syntax-attribute, .syntax-element {color: LightCyan}
.syntax-comment {color:lightsalmon}
