/* Old theme. More playful than my current default theme.
 * Nothing special here.
 */
body {
    font-family: 'DejaVu Sans', 'FreeSans', 'Ariel', sans-serif;
    color: #003300;
    background-color: #FFFF99;
    font-size: 1.4em;
    line-height: 1.4em;
    width: 90%;
    max-width: 50em;
    margin: auto;
}

.nextsec {
    margin-top: 10px;
    padding-top: 5px;
    border-top: 3px solid #003300;
}

.nav {
    border-bottom: 3px dashed #003300;
    padding: .5em 0em .5em 0;
}
.nav a {
    display: inline-block;
}

a {
    text-decoration: none;
    color: #009900;
}
a:hover  {
    text-decoration: underline;
    color: #FF3333;
}

footer {
    font-size: .8em;
    border-top: 3px dashed #003300;
    margin: .5em;
}

pre {
    font-family: 'DejaVu Sans Mono', 'FreeMono', monospace;
    background-color: #003300;
    color: #FF9933;
    border-left: 10px solid #009900;
    overflow: auto;
    padding: .3em;
}

.syntax-open, .syntax-close {
    font-weight: bold;
    color: #119988;
}
.syntax-special{
    font-weight: bold;
    color: #99FFAA;
}
.syntax-keyword, .syntax-symbol {color:#FFFF55}
.syntax-attribute, .syntax-element, syntax-string {color: #FF0F44}
.syntax-comment {color:pink}
