body{
	font: 1.2em/1.3em 'DejaVu Serif', serif;
	color: #DDDDDD;
	background: no-repeat top/50% url("shacklogo.gif"), url("forest.jpg");
	background-color: #010101;
	max-width: 60em;
	margin: 10% auto 2em;
}
article{
	border: 30px solid #000000;
	border-image: url("border.gif") 27/30px round;
	border-image-outset: 0 10px;
	background: repeat center/20% url("bg.gif");
}
hr{
	color: #CC0000;
	margin: 0 -10px;
	border-image: linear-gradient(to left, #DDD, #220011, #DDD) 100
}
ul{list-style-image: url('bullet.gif')}
nav, footer{
	padding: .1em;
	margin: 0 -10px;
	text-align: center;
	background: center/auto 100% url("bar.gif") #000000
}
a{
	text-decoration: none;
	color: #CC0000
}
a:hover{text-decoration: underline}
pre{
	background: #220011;
	border: 3px inset #660011;
	color: #FF2200;
	text-shadow: black 2px 2px 1px;
	overflow: auto;
	padding: 0.3em
}
.syntax-open, .syntax-close, .syntax-special{font-weight: bold; color: #CC88FF;}
.syntax-attribute, .syntax-element{color: LightCyan}
.syntax-comment{color:LightSalmon}
