/*Welcome to my CSS file.*/
body {
	font: 1.25em/1.4em sans-serif;
	background: #0F0F00;
	color: #EFEFEF;
	max-width: 50em;
	margin: 1em auto;
}
hr { border: 2px solid #EFEFEF; }
a  { color: #66FF66; text-decoration: none}
a:hover { text-decoration: underline; }

/*Everything below is for code snippits*/
pre {
	background: #AAAAFF;
	color: black;
	overflow: auto;
	padding: .3em;
}
.syntax-special, .syntax-open, .syntax-close {
	font-weight: bold;
	color: #225522;
}
.syntax-comment {color: #000666}
.syntax-keyword, .syntax-symbol {color: #551000}
.syntax-attribute, .syntax-element, syntax-string {color: #E0FFFF}
