/* "Retro" theme
 * This CSS theme is inspired by late-90's UI design.
 * This includes: Tiling background image, light grey text backgrounds, and
 * monospace fonts.
 * This site still uses modern CSS, it isn't "Historically accurate".
 * Main inspirations come from sites such as:
 * www.rdrop.com
 * www.instanet.com*/
body{
	font: 1.5em/1.4em monospace;
	background: no-repeat top/450px url('shack.gif'), url("bg.gif");
	max-width: 1200px;
	margin: 350px auto 1em;
}
article{
	padding: 0 1em;
	background: #CBCBCB;
	border: 8px ridge darkorange;}

a{
	text-decoration: none;
	text-shadow: 0 0 5px;
	color: #1122AA;
}
a:hover{
	text-decoration: underline;
	color: darkorange;
}
pre{
	background-color: #111111;
	color: #00FF33;
	text-shadow: 0 0 5px;
	border-radius: 10px;
	border: 3px inset #AAAAAA;
	overflow: auto;
	padding: .3em;
}
